* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    padding: 16px;
}

h1,
h3,
p {
    margin: 0;
}

.div__notes-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.div__note {
    background-color: antiquewhite;
    padding: 16px;
    border-radius: 16px;
    margin: 8px 0;
}

.note__title {
    margin-bottom: 8px;
}

@media only screen and (min-width: 640px) {
    .div__notes-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .div__note {
        margin-right: 16px
    }
}